#API
Flask
gunicorn

#Data manipulation
numpy
pandas
scipy

#NLP
nltk
spacy
gensim
transformers
torch
sentence-transformers
textblob
langdetect

#Vectorizers & ML
scikit-learn
umap-learn
hdbscan


#Visu
matplotlib

#Utils
joblib
python-dotenv
requests
